.layout-page .DataTables_Table_0_wrapper h5.card-title {
  display: none !important;
}

.tab-content h2 {
  color: var(--bs-black);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}

table th:nth-of-type(2) {
  width: 50px;
}

table th:nth-of-type(3) {
  width: 676px;
}

table th:nth-of-type(4) {
  width: 200px;
  position: relative;
}

table th:nth-of-type(5) {
  width: 120px;
  position: relative;
}

table th:nth-of-type(6) {
  width: 154px;
  position: relative;
}

.breadcrumb-component {
  margin-bottom: 24px;
}

.layout-page h2 {
  margin-bottom: 8px;
}

.layout-page button.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-page button.btn-primary a {
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .btn.btn-primary {
    margin-left: 10px;
  }
}
